#orange-line {
    display: flex;
    justify-content: center;
}
.about-us h2 {
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    margin: 20px 0 10px;
}
.about-us p, .about-us b, .about-us .text-color {
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #4C4C4C;
}
.about-us b {
    font-weight: 700;
}
.about-us .text-color {
    color: #F39F07;
}
@media (max-width:390px) {
    .container {
        width: 360px;
        margin: 0 auto;
    }
    .about-us {
        padding: 15px;
    }
    .activity-title {
        width: 330px;
        margin: 0 auto ;
    }
    .main {
        margin-top: 70px;
    }
}
.structure h2 {
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: 26.4px;
    padding: 4.5px 0 10.89px;
    border-bottom: 1px solid #F79830;
    width: 97px;
    margin-top: 40px;
}

.structure-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
    @media (max-width:390px) {
        flex-direction: column;
    }
}
.structure-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 26px;
    border: 1px solid #F2F2F2;
    width: 370px;
    height: 174px;
    transition: background-color 0.3s ease;
}
.structure-box:hover {
    background-color: #F5E1C8;
}
.structure-box h3 {
    justify-content: center;
    border-bottom: 1px solid #FFB25F;
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
}

.structure-box h4 {
    padding: 10px 26px;
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

.structure-box h5 {
    width: 318px;
    padding-top: 5px;
    color: #4C4C4C;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}
.structure-box img {
    margin-top: -78px;
    transition: transform 0.3s ease;
}
.structure-box:hover img {
    transform: rotate(10deg);
}
.install-pdf {
    text-align: center;
}

.install-pdf img {
    display: block;
    margin: auto;
}
.install-pdf h2 {
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: 26.4px;
    margin-bottom: 36px;
}
